.onion-nodes {
  position: relative;
}

.node {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blueviolet;
}

.node-1 {
  top: 0;
  left: 0;
}
.node-2 {
  top: 150px;
  left: 30%;
}
.node-3 {
  top: 60px;
  left: 60%;
}
.node-4 {
  bottom: 0;
  right: 0;
}

#nodes-lines-canva {
	position: absolute;
	top: 0;
	left: 0;
}

#onionImage {
	top: -10px;
	left: -10px;
}