body {
  font-family: Consolas, 'Open Sans', sans-serif;
  background: url('../images/background.png') rgba(0, 0, 0, 0.7);
  background-attachment: fixed;
  background-blend-mode: multiply;
  height: 200vh;
  overflow-x: hidden;
}

p {
  max-width: 65ch;
}

.website-title {
  font-family: 'Creepy Blood', sans-serif;
}